<% layout('layouts/boilerplate')%>

    <body id="clr">
        <style>
            .bd-placeholder-img {

                font-size: 1.125rem;

                text-anchor: middle;

                -webkit-user-select: none;

                -moz-user-select: none;

                user-select: none;

            }



            @media (min-width: 768px) {

                .bd-placeholder-img-lg {

                    font-size: 3.5rem;

                }

            }
        </style>

        <link href="/css/home.css" rel="stylesheet">
        <main class="container">
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">

                <div class="col-md-6 px-0">

                    <h1 class="display-4 fst-italic">THE QR</h1>

                    <p class="lead my-3">A quick response (QR) code is a type of barcode that can be read easily by a
                        digital device and which stores information as a series of pixels in a square-shaped grid.</p>

                </div>

            </div>

            <div class="row mb-2">

                <div class="col-md-6">

                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                        <div class="col p-4 d-flex flex-column position-static">

                            <strong class="d-inline-block mb-2 text-warning">QR</strong>

                            <h3 class="mb-0 text-warning">CODE GENERATOR</h3>

                            <br>

                            <p class="card-text mb-auto">Free Online QR Code Generator to make your own QR Codes. </p>

                            <div class="btn-group" role="group" aria-label="Basic outlined example">

                                <a href="/generate"> <button type="button" class="btn btn-primary"> Generate
                                    </button> </a>

                            </div>

                        </div>

                        <div class="col-auto d-none d-lg-block">

                            <img src="https://www.svgrepo.com/show/76016/qr-code.svg" class="card-img-top" alt="...">

                        </div>

                    </div>

                </div>



                <div class="col-md-6">

                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                        <div class="col p-4 d-flex flex-column position-static">

                            <strong class="d-inline-block mb-2 text-success">QR</strong>

                            <h3 class="mb-0 text-success">CODE SCANNER</h3>

                            <br>

                            <p class="mb-auto">Scan QR Codes with you WebCam on your desktop or mobile device or chose a
                                file and decode.</p>

                            <div class="btn-group" role="group" aria-label="Basic outlined example">

                                <a href="/scan"> <button type="button" class="btn btn-primary">Scan</button> </a>

                            </div>

                        </div>

                        <div class="col-auto d-none d-lg-block">

                            <img src="https://www.svgrepo.com/show/47920/search.svg" class="card-img-top" alt="...">

                        </div>

                    </div>

                </div>

            </div>