<% layout('layouts/boilerplate')%>
    <style>
        body {
            background-image: url("https://media.istockphoto.com/photos/background-black-total-grunge-abstract-cement-concrete-paper-texture-picture-id1251205256?b=1&k=20&m=1251205256&s=170667a&w=0&h=o4N-O5lZywE2lBuauTZX6NiutPCNbKAnuKaTSKWM0Lo=");
            background-color: black;
        }
    </style>
    <div class="conatiner">
        <div class="row">
            <div class="col mt-2">
                <H1 class="text-center" style="color: white;">GET QR GENERATED IN EASY WAY</H1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="text-center">
                    <h2 class="text-center" style="color: white;">enter your details</h2>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <form action="/post" method="POST">
                            <textarea name="textInfo" id="textInfo" rows="8" cols="50"
                                placeholder="enter data here"></textarea><br>
                            <button class="btn btn-primary mt-3 ml-2">submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>