<% layout('layouts/boilerplate')%>
    <style>
        body {
            background-image: url("https://media.istockphoto.com/photos/background-black-total-grunge-abstract-cement-concrete-paper-texture-picture-id1251205256?b=1&k=20&m=1251205256&s=170667a&w=0&h=o4N-O5lZywE2lBuauTZX6NiutPCNbKAnuKaTSKWM0Lo=");
            background-color: black;
        }
    </style>


    <div class="container">
        <h1 style="color: white;" class="text-center mt-2">SCAN QR</h1>
        <br><br><br>
        <form action="/new " method="POST" enctype="multipart/form-data">
            <div class="mb-3 ">
                <label for="images" class="form-label">
                    <span class="form-file-text custom-file-label" style="color: bisque;">Choose image..</span>
                </label>
                <input class="form-control" type="file" id="images" name="image">
            </div>
            <button class="btn btn-primary">SUBMIT</button>
        </form>

        <h1 style="color: white;" class="text-center mt-2">OR</h1>
        <br><br><br>
        <div class="card">
            <div class="card-header">
                For Dynamic Scanning
            </div>
            <div class="card-body">
                <p class="card-text">Scan with WebCam on your desktop or mobile device.</p>
                <a href="/scancam"> <button class="btn btn-primary">Click here to Scan</button></a>
            </div>
        </div>
    </div>
    <!-- JavaScript Bundle with Popper -->