<% layout('layouts/boilerplate')%>
    <style>
        body {
            background-image: url("https://media.istockphoto.com/photos/background-black-total-grunge-abstract-cement-concrete-paper-texture-picture-id1251205256?b=1&k=20&m=1251205256&s=170667a&w=0&h=o4N-O5lZywE2lBuauTZX6NiutPCNbKAnuKaTSKWM0Lo=");
            background-color: black;
        }

        #center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <div class="conatiner">
        <div class="row">
            <div class="col mt-2">
                <H1 class="text-center" style="color: white;">Decoded QR</H1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="text-center">
                    <h2 class="text-center" style="color: white;">
                        <center>
                            <a href=" <%=s%>">
                                <%=s%>
                            </a>
                        </center>
                    </h2>
                </div>

            </div>
        </div>
    </div>
    <div class="row mb-2 mt-2">

        <div class="col-md-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                <div class="col p-4 d-flex flex-column position-static" style="background-color: white;">

                    <strong class="d-inline-block mb-2 text-warning">QR</strong>

                    <h3 class="mb-0 text-warning">CODE GENERATOR</h3>

                    <br>

                    <p class="card-text mb-auto">Free Online QR Code Generator to make your own QR Codes. </p>

                    <div class="btn-group" role="group" aria-label="Basic outlined example">

                        <a href="/generate"> <button type="button" class="btn btn-primary"> Generate
                            </button> </a>

                    </div>

                </div>

                <div class="col-auto d-none d-lg-block">

                    <img src="https://www.svgrepo.com/show/76016/qr-code.svg" class="card-img-top bg-white" alt="...">

                </div>

            </div>

        </div>

        <div class="col-md-6 ">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">

                <div class="col p-4 d-flex flex-column position-static" style="background-color: white;">

                    <strong class="d-inline-block mb-2 text-success">QR</strong>

                    <h3 class="mb-0 text-success">CODE SCANNER</h3>

                    <br>

                    <p class="mb-auto">Scan QR Codes with you WebCam on your desktop or mobile device or chose a
                        file and decode.</p>

                    <div class="btn-group" role="group" aria-label="Basic outlined example">

                        <a href="/scan"> <button type="button" class="btn btn-primary">Scan</button> </a>

                    </div>

                </div>

                <div class="col-auto d-none d-lg-block">

                    <img src="https://www.svgrepo.com/show/47920/search.svg" class="card-img-top bg-white" alt="...">

                </div>

            </div>

        </div>

    </div>